html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c6a7ed;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.container h1 {
    text-align: center;
    font-size: 28px;
    color: #75577c;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #75577c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #bae27a;
    color: #333;
}

.toggle {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.toggle a {
    color: #75577c;
    text-decoration: none;
    font-weight: bold;
}

.toggle a:hover {
    text-decoration: underline;
}
